.headerMedia, .navigationMedia, .sideContentMedia {
    display: block;
}

.container {
    max-width: 1160px;
    width: 90%;
    margin: 0 auto;
}

.headerMedia {
    height: 143px;
}

.navigationMedia {
    height: 265px;
    width: 283px;
    float: left;
}

.sideContentMedia {
    width: 877px;
    float:right;
}




@media screen and (min-width: 100px) and (max-width: 650px) {
    .menu {
        opacity: 1;
    }
    .headerMedia {
       height: auto;
       width: 100px !important;
    }
    #authTittle {
    height: 100px;
    margin-top: 0;
    }
    .navigationMedia {
       position: static;
    }
    .sideContentMedia {
       width: auto;
       float: none;
       margin: 20px 0;
    }
    .indexHeader {
        opacity: 0;
        height: 0;
        margin: 0 0 0 0;
    }
    .form-group {
        display: flex;
    }
    .edit {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    button {
        width: 100%;
        font-size: 16px;
    }
    #regEntrance {
        font-size: 35px;
    }
    .regMainPartContainer {
        margin-top: 0;
    }
    #logoAuthorized, #prof_pic_aut {
        opacity: 0;
    }
    .choice {
        font-size: 33px;
    }
}

@media screen and (min-width: 651px) and (max-width: 980px) {
    .container {
        width: 85%;
    }
    .navigationMedia {
        width: 25%;
    }
    .sideContentMedia {
        width: 75%;
    }
}

@media screen and (min-width: 700){
    .menu {
        opacity: 0;
    }
}